# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
_wwwroot

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

get3w
get3w_darwin_386
get3w_darwin_amd64
get3w_freebsd_386
get3w_freebsd_amd64
get3w_freebsd_arm
get3w_linux_386
get3w_linux_amd64
get3w_linux_arm
