body {
  background: #fff;
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  font-weight: 300;
  line-height: 1.75em;
}
.this *,
.this *:before,
.this *:after {
  box-sizing: border-box;
}
.this a {
  color: #5ecb96;
  text-decoration: underline;
}
.this a:hover {
  text-decoration: none;
}
.this p {
  margin: 0 0 2em 0;
}
.this h1 {
  color: #2a2a2a;
  font-weight: 600;
  letter-spacing: 0.125em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
.this h1 a {
  color: inherit;
  text-decoration: none;
}
.this .icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.this .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.this .icon > .label {
  display: none;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.this ul li {
  padding-left: 0.5em;
}
.this #header {
  background: #1d2726;
  color: #fff;
  cursor: default;
  height: 3.25em;
  line-height: 3.25em;
  width: 100%;
  z-index: 10000;
}
.this #header h1 {
  color: #fff;
  height: inherit;
  left: 1.25em;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.this #header h1 a {
  font-size: 1em;
}
.this #header h1 a:before {
  color: #5ecb96;
  margin-right: 0.35em;
}
.this #header nav {
  font-weight: 600;
  height: inherit;
  letter-spacing: 0.125em;
  line-height: inherit;
  position: absolute;
  right: 1.5em;
  text-transform: uppercase;
  top: 0;
  vertical-align: middle;
}
.this #header nav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.this #header nav > ul > li {
  display: inline-block;
  margin-left: 2em;
  padding-left: 0;
}
.this #header nav > ul > li a {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #ccc;
  display: inline-block;
  text-decoration: none;
  font-size: 0.8em;
}
.this #header nav > ul > li a:before {
  margin-right: 0.5em;
  opacity: 0.5;
}
.this #header nav > ul > li a:hover {
  color: #fff;
}
.this #header nav > ul > li.active > a {
  color: #fff;
}
.this #header nav > ul > li:first-child {
  margin-left: 0;
}
.this #header nav > ul > li .button {
  font-size: 1em;
  height: 2.25em;
  line-height: 2.25em;
  margin-bottom: 0;
  padding: 0 1em;
  position: relative;
  top: -0.125em;
  vertical-align: middle;
}
.this #header .container {
  position: relative;
}
.this #header .container h1 {
  left: 0;
}
.this #header .container nav {
  right: 0;
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 11pt;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 11pt;
  }
}
@media screen and (max-width: 980px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    font-size: 12pt;
  }
}
@media screen and (max-width: 736px) {
  body {
    font-size: 12pt;
  }
  .this input,
  .this select,
  .this textarea {
    font-size: 12pt;
  }
  .this #header {
    text-align: center;
    height: auto;
  }
  .this #header h1 {
    padding-top: 0.5em;
  }
  .this #header nav,
  .this #header h1 {
    position: static;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}
