body {
  background: #fff;
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  font-weight: 300;
  line-height: 1.75em;
}
.this *,
.this *:before,
.this *:after {
  box-sizing: border-box;
}
.this a {
  color: #5ecb96;
  text-decoration: underline;
}
.this a:hover {
  text-decoration: none;
}
.this p {
  margin: 0 0 2em 0;
}
.this h2,
.this h3 {
  color: #2a2a2a;
  font-weight: 600;
  letter-spacing: 0.125em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
.this h2 a,
.this h3 a {
  color: inherit;
  text-decoration: none;
}
.this h2 {
  font-size: 1.5em;
  line-height: 1.75em;
}
.this h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}
.this header.major {
  position: relative;
}
.this header.major:after {
  background: #eee;
  content: '';
  display: inline-block;
  height: 3px;
  margin: 0 0 2em 0;
  width: 6em;
}
.this header.major.alt {
  text-align: center;
  margin-bottom: 2em;
}
.this header p {
  letter-spacing: 0.125em;
  margin: 0 0 1.5em 0;
  position: relative;
  text-transform: uppercase;
}
.this header h2 + p {
  font-size: 1em;
  margin-top: -0.85em;
  line-height: 1.75em;
}
.this header h3 + p {
  font-size: 0.9em;
  margin-top: -0.75em;
  line-height: 1.75em;
}
.this .image {
  border: 0;
  display: inline-block;
  position: relative;
}
.this .image:before {
  background: url("http://cdn.get3w.net/assets/img/021overlay.png");
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.this .image img {
  display: block;
}
.this .image.fit {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}
.this .image.fit img {
  display: block;
  width: 100%;
}
.this ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}
.this ul li {
  padding-left: 0.5em;
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.this ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
.this .button {
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #1d2726;
  border-radius: 0;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  height: 4em;
  letter-spacing: 0.125em;
  line-height: 4em;
  overflow: hidden;
  padding: 0 2.75em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
.this .button:hover {
  background-color: #283634;
}
.this .button:active {
  background-color: #121818;
}
.this .button.disabled,
.this .button:disabled {
  background-color: #4a4a4a !important;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #fff !important;
  cursor: default;
  opacity: 0.25;
}
.this .wrapper {
  padding: 6em 0 4em 0;
}
.this .wrapper.style2 {
  background: #ffffff;
}
.this #main > header.major {
  margin: 0 0 2em 0;
  text-align: center;
}
@media screen and (max-width: 1680px) {
  body {
    font-size: 11pt;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 11pt;
  }
  .this .wrapper {
    padding: 4em 0 2em 0;
  }
  .this #main {
    padding: 2em 0;
  }
}
@media screen and (max-width: 980px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    font-size: 12pt;
  }
  .this h2 {
    font-size: 1.25em;
    line-height: 1.75em;
  }
  .this h3 {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .this header h2 + p {
    font-size: 0.9em;
  }
  .this header h3 + p {
    font-size: 0.8em;
  }
  .this #main > header.major {
    margin: 0;
  }
}
@media screen and (max-width: 736px) {
  body {
    font-size: 12pt;
  }
  .this .wrapper {
    padding: 2.5em 1.25em 0.5em 1.25em;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
  body {
    font-size: 12pt;
  }
  .this h2 br,
  .this h3 br {
    display: none;
  }
  .this h2 {
    font-size: 1.15em;
    line-height: 1.75em;
  }
  .this h3 {
    font-size: 1em;
    line-height: 1.5em;
  }
  .this ul.actions {
    margin: 0 0 2em 0;
  }
  .this ul.actions li {
    display: block;
    padding: 1em 0 0 0;
    text-align: center;
    width: 100%;
  }
  .this ul.actions li:first-child {
    padding-top: 0;
  }
  .this ul.actions li > * {
    margin: 0 !important;
    width: 100%;
  }
  .this ul.actions li > *.icon:before {
    margin-left: -2em;
  }
  .this input[type="submit"],
  .this input[type="reset"],
  .this input[type="button"],
  .this .button {
    padding: 0;
  }
}
