.this {
  position: relative;
  padding: 5em 3em 5em 3em;
  background-image: -webkit-linear-gradient(top, rgba(21, 27, 33, 0.6), rgba(21, 27, 33, 0.6)), url("http://cdn.get3w.com/assets/img/overlay.png"), -webkit-linear-gradient(45deg, rgba(39, 161, 227, 0.65), rgba(231, 35, 42, 0.65)), url("http://cdn.get3w.com/assets/img/cta.jpg");
  background-image: linear-gradient(top, rgba(21, 27, 33, 0.6), rgba(21, 27, 33, 0.6)), url("http://cdn.get3w.com/assets/img/overlay.png"), linear-gradient(45deg, rgba(39, 161, 227, 0.65), rgba(231, 35, 42, 0.65)), url("http://cdn.get3w.com/assets/img/cta.jpg");
  background-position: center center;
  background-size: auto, auto, cover, cover;
  background-attachment: fixed, fixed, fixed, fixed;
  background-repeat: repeat, repeat, no-repeat, no-repeat;
  background-color: rgba(21, 27, 33, 0.6);
  color: #ffffff;
}
.this h2 {
  font-weight: 700;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.this p {
  line-height: 1.7em;
  font-weight: 100;
  margin: 0;
}
.this ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin: 0 0 2em 0;
}
.this ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.this ul.actions li:last-child {
  padding-right: 0;
}
.this .button {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 3.1em;
  display: inline-block;
  height: 3em;
  padding: 0 2.5em;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: .05em;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #fff;
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff !important;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.this .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
@media only screen and (max-width: 767px) {
  .this .title {
    margin-bottom: 2em;
    text-align: center;
  }
}
